body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0b0b0b;
  color: #eee;
}

header {
  text-align: center;
  padding: 20px;
  background: #4c4b4b;
}

.logo {
  width: 450px;
  display: block;
  margin: 0 auto 10px;
  border-radius: 8px;
}

h1 {
  margin: 0;
  color: #d49283;
}

section {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #9acd32;
  border-bottom: 2px solid #444;
  padding-bottom: 5px;
}

.gallery {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 250px;
  border-radius: 8px;
  border: 2px solid #444;
}

.requirements {
  display: grid;
  gap: 30px;
  
}

.req-box {
  background: #222;
  padding: 15px;
  border-radius: 8px;
  flex: 1 1 300px;
}

.req-box h3 {
  color: #f4c542;
}

footer {
  text-align: center;
  background: #222;
  padding: 15px;
  margin-top: 20px;
}
