body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #000000;
  color: #eee;
}

header {
  text-align: center;
  padding: 20px;
  background : transparent;
}


h1 {
  margin: 0 auto;
  text-align: center;
  color: #da9d2c;
  margin-top: 730px;
  
}

section {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #9acd32;
  border-bottom: 2px solid #444;
  padding-bottom: 5px;
  text-align: center;
}

.gallery {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 250px;
  border-radius: 8px;
  border: 2px solid #444;
}

.requirements {
  display: grid;
  gap: 30px;
  
  
}

.req-box {
  background: #222;
  padding: 15px;
  border-radius: 8px;
  flex: 1 1 300px;
}

.req-box h3 {
  color: #f4c542;
}

footer {
  text-align: center;
  background: #222;
  padding: 5px;
  margin-top: 20px;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
}

.screenshots {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}
.synopsis {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
text-align: center;
  margin-top: 30px;
}
/* Revolver - https://www.cursors-4u.com/cursor/revolver-13 */
* {
  cursor: url('https://cdn.cursors-4u.net/previews/revolver-b246a5a3-32.webp') 34 32, auto !important;
}
/* End www.Cursors-4U.com Code */